/* For screen width greater than 1023px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }

    .hero-text {
        font-weight: 350;
        font-size: 150%;
    }

    .logo {
        height: 80px;
        margin-top: 10px;
    }

    .nav-main {
        margin-top: 30px;
    } 

    .plans ul li {
        font-size: 90%;
    }
}

/* For screen width between 767px and 1024px */
@media only screen and (max-width: 1023px) {
    section {
        padding: 50px 0;
    }

    body {
        font-size: 18px;
    }

    .plans .plan-price {
        font-size: 250%;
    }

    .plans div ul li {
        font-size: 65%;
    }

    .city-feature {
        padding: 4px 4px 4px 0;
        font-size: 85%;
    }

    .icon-small {
        width: 20px;
        margin-right: 2px;
    }

    .footer-nav li {
        font-size: 80%;
    }

    .step {
        margin-bottom: 20px;
    }

    .step p {
        font-size: 95%;
    }

    .step:last-of-type {
        margin-bottom: 50px;
    }

    .steps {
        margin-top: 30px;
    }

    .step div {
        font-size: 120%;
        height: 40px;
        width: 40px;        
        padding: 5px;
        margin-right: 3%;
    }

    .app-store img {
        width: 120px;
    }

    .play-store img {
        width: 106px;
    }

    h2:last-of-type {
        font-size: 130%;
    }

    .contact-form {
        width: 80%;
        margin-left: 10%;
    }
}

/* For screen width between 481px and 768px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }

    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }

    .logo {
        margin-top: 20px;
    }

    .mobile-nav-icon {
        display: block;
        margin-top: 30px;
        border: 0;
    }

    a:hover {
        border-bottom: 0;
    } 

    .sticky .mobile-nav-icon {
        display: block;
        border: 0;
    }
 
    .mobile-nav-icon i {
        color: #fff;
    }

    .sticky .mobile-nav-icon i {
        color: #555;
    }

     .nav-main {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
        display: none;
    }

    .sticky .nav-main {
        float: left;
        padding-top: 15px;
        margin: 0px 0px 0px 25px;
        display: none;
    }

    .nav-main li {
        display: block;
    }

    .sticky .nav-main li {
        padding: 0px 0;
    }

    .nav-main li a:link,
    .nav-main li a:visited {
        display: block;
        color: #fff;
        font-size: 100%;
        border: 0px;
    }

    .sticky .nav-main li a:link,
    .sticky .nav-main li a:visited {
        padding: 10px 0px;
    }

    .sticky .logo {
        display: none;
    }

    .sticky .logo-black {
        display: block;
        margin-top: 25px;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .icon-big {
        margin-bottom: -10px;
    }

    .icon-small {
        vertical-align: bottom;
    }

    .snapshot {
        text-align: center;
    }

    .snapshot img {
        width: 30%;
    }

    .step div {
        font-size: 100%;
        height: 30px;
        width: 30px;        
        padding: 2px;
        margin-right: 3%;
    }

    cite {
        margin-top: 3%;
    }

    .plans .plan-price {
        font-weight: 350;
    }

    .plan-price-meal {
        font-size: 100%;
    }

    .plans div ul li {
        font-size: 90%;
    }

    .section-cities .row .box {
        margin-bottom: 30px;
    }

    .section-cities .row .box:last-of-type {
        margin-bottom: 0px;
    }

    footer {
        padding: 50px;
    }

    .footer-nav {
        float: left;
    }

    .social-links {
        float: left;
    }

    .footer-nav li,
    .social-links li {
        margin-right: 20px;
        font-size: 100%;
        font-weight: 300;
    }
}

/* For screen width smaller than or equal to 480px */
@media only screen and (max-width: 480px) {
     section { padding: 25px 0; }
    .contact-form {
        width: 90%;
        margin-left: 5%;
     }
}

